.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  // row-gap: 50px;
  
  @media screen and (min-width: 800px) {
      grid-template-areas:
      "header header"
      "aside main"
      ". main" 
      "footer footer";
  }
}

  .site__header {
    grid-area: header;
  }
  .liste-articles {
    grid-area: main;
  }
  .site__aside {
    display: none;
      @media screen and (min-width: 800px) {
        display: block;
        grid-area: aside;
      }
  }
  aside{
    nav{
      border: 1px solid rgb(50, 48, 48);
    }
    h3{
      text-align: center;
    }
    ul{
      padding: 0;
      margin: 5px 5px;
    }
  }
  aside nav ul li{
    list-style: none;
  }
  
  .no-aside {
    grid-template-areas:
    "header"
    "main"
    "footer";
    @media screen and (min-width: 800px) {
      grid-template-columns: auto;
      grid-template-areas:
      "header"
      "main"
      "footer";
    }
  }