.liste-articles{
    //Ajout de media queries pour le responsive!
    //Il y a une meilleur facon de faire avec des @mixin
    //tablette
    @media (min-width: $largeur__tablette) {
        grid-template-columns: 1fr 1fr;
    }
    //ordi
    @media (min-width: $largeur__ordi) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    //mobile first
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;

}

