
.liste-articles{
    //Ajout de media queries pour le responsive!
    //Il y a une meilleur facon de faire avec des @mixin
    //tablette
    @media (min-width: $largeur__tablette) {
        grid-template-columns: 1fr 1fr;
    }
    //ordi
    @media (min-width: $largeur__ordi) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    //mobile first
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
}



.intro{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    @media (min-width : 700px) {
        grid-template-columns: 1fr 1fr;
    }

    .intro-img-container{
        width: 100%;
        height: 80vh;
        img{
            height: 100%;
            width: 100%;
            object-fit:cover;
        }
    }
    .intro-text{
        position: absolute;

        @media (min-width : 700px) {
        position:initial;
        }
        .text{
            padding-left: 0;
            font-size: clamp(3rem, 2.7391rem + 1.3043vw, 6rem);
            color: white;

            @media (min-width: $largeur__tablette) {
                color: black;
            }
            @media (min-width: $largeur__ordi) {
                color: black;
            }
            button{

            }

        }
    }

    #imgTest{
        height: 100%;
        width: 100%;
    object-fit:cover;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
    }

}