.intro{
    width: 100%;
    grid-row: 1;
    grid-template-columns: 1fr;
    @media (min-width: $largeur__tablette) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $largeur__tablette) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    margin: 10px 10px;

    @media (min-width: $largeur__tablette) {
        grid-column: 1/3;
    }
    @media (min-width: $largeur__ordi) {
        grid-column: 1/4;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
    }


    .menu-evenement-container{
        border-right: 1px solid;
        padding-right: 4rem;
        .menu{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            li{
                .description{
                    display: none;
                }

                a{
                    display: flex;
                    flex-direction: row-reverse;
                }

            }
        }
    }
    .menu-bloc-archive-container{
        .menu{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            .menu-item{
                padding: 5px;
                a{
                    display: flex;
                    flex-wrap: wrap;
                    span{
                        padding: 3px;
                    }
                }
            }
             
        }
    }


}