.site__footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  background-color: $couleur_princ;

  .menu-footer-container {
    flex-grow: 1;
    .menu {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;
    }

  }


  .menu1 {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
  }

  section,.menu-footer-container,.recherche{
    margin: 1rem;
  }

}


