.recherche {
  display: grid;
  grid-area: main;
  h1 {
    text-align: center;
  }
  .search {
    @media (min-width: $largeur__ordi) {
      display: grid;
      grid-template-columns: 30% 1fr;
      align-items: center;
    }
    border-bottom: 2px solid black;

    .side {
      background-color: $couleur_princ;
      margin: 1rem;
    }
    p,
    h2 {
      margin: 0.5rem;
    }
}
}