.recherche{
    display: grid;
    width:100vw;
    .search{
        display: flex;
        align-items: center;
        margin: 1rem;
        border-bottom:2px solid black ;
        .side{
            background-color: grey;
            margin: 1rem;

        }

    }
}