.site__header {
  // margin-bottom: 2rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $couleur_princ;

  #checkbox-menu:checked ~ .menu-entete-container {
    transform: translateX(0);
    display: block;
  }

  .menu-entete-container {
    transform: translateX(500px);
    transition: transform 0.5s;
    @media screen and (min-width: $largeur__tablette1) {
      transform: translateX(0);
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;

      list-style: none;

      @media screen and (min-width: $largeur__tablette1) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }

      .menu-item {
        font-size: 18px;
        margin: 5px 15px;
      }
    }
  }
}
