.site__header {
  // margin-bottom: 2rem;

  .site__header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    background-color:rgb(42, 117, 192);

  }

  a.toggle-nav {
    margin: 0 0 0.5em 0.5em;
    transition: color linear 0.15s;
    display: inline-block;
    border: 1px solid black;

    @media (min-width: $largeur__tablette) {
      display: none;
    }

  }

  a.toggle-nav:hover,
  a.toggle-nav:active {
    text-decoration: none;
    color: blue;
  }
  
}

.menu-entete-container {
  .menu {
    display: none;
    list-style: none;
    justify-content: flex-start;
    border: 1px solid black;
    @media (min-width: $largeur__tablette) {
      display: flex;
    }

    .menu-item {
      font-size: 18px;
      color: yellow;
    }
    a {
      display: block;
      padding: 5px 20px;
    }
  }
}
