h1,h2,h3{
    text-align: center;
}

li{
    color: red;
    list-style:none;
    font-size: clamp(0.5rem, 0.125rem + 1.2vw, 1.1rem);
    margin: 5px;
}
p{
    margin: 15px;
}
pre{
    text-align: center;
    background-color: rgb(237, 237, 94);
    border-radius: 2rem;
}