.site__aside-atelier {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 800px) {
    flex-direction: column;
  }

  .menu-atelier-container {
    .menu{
        list-style: none;
        padding: 0;
    }
  }

}

.site-main-atelier{
    padding: 1rem;

    .info{
        border-bottom: 1px solid;
        p{
            border-top:1px solid ;
        }
    }
}

.intro{
  .menu-atelier-container{
    .menu{
      list-style: none;
      padding: 0;
      .menu-item{
        overflow: hidden;
        &:hover{
          .title{
            transition: transform 1s;
            transform: translateY(0rem);
            background-color: black;
            color: white;
          }
          .description{
            transition: transform 1s;
            transform: translateY(8rem);
            background-color: black;
            color: white;
          }
        }
        a{
          position: relative;
          .title{
            position: absolute;
            transform: translateY(-2rem);
            width: 100%;
            text-align: center;

          }
          .description{
            position: absolute;
            transform: translateY(10rem);
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}


