.site__aside-atelier {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 800px) {
    flex-direction: column;
  }

  .menu-atelier-container {

    .menu{
        list-style: none;
        padding: 0;
    }
  }

}

.site-main-atelier{
    padding: 1rem;

    .info{
        border-bottom: 1px solid;
        p{
            border-top:1px solid ;
        }
    }
}


